body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',  
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: darkcyan;
  background-color: lightyellow;
  font-size: large;
  font-style: oblique;
  font-weight: bold;
}
h1{
  color: rgb(113, 202, 78);
  font-weight: bolder;
  font-size: xx-large;
}
h2{
  color: rgb(113, 202, 78);
  font-weight: bolder;
  font-size: xx-large;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.gif {
  width: 40vw;
  height: 50vh;
}
